<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Interview UI" parallel="tests" thread-count="1" verbose="1">

    <!-- TestNG Listeners -->
    <listeners>
        <listener class-name="testListeners.TestNGListeners"/>
        <listener class-name="testListeners.RetryTestListener"/>
    </listeners>

    <!-- Login Page Test -->
    <test name="Login Page Test">
        <classes>
            <class name="testSuite.LoginAndProductAddTest"/>
        </classes>
    </test>
    <!-- Cash Transfer Page Test -->
    <test name="Cash Transfer Page Test">
        <classes>
            <class name="testSuite.CashTansferTest"/>
        </classes>
    </test>

    <test name="Investor Test">
        <classes>
            <class name="testSuite.InvestorsTest"/>
        </classes>
    </test>

    <!-- Portfolio Page Test -->
    <test name="Portfolio Page Test">
        <classes>
            <class name="testSuite.PortfoliosTest"/>
        </classes>
    </test>

    <!-- Group Portfolio Page Test -->
    <test name="Group Portfolio Page Test">
        <classes>
            <class name="testSuite.GroupPortFoliosTest"/>
        </classes>
    </test>

    <test name="Funds Test">
        <classes>
            <class name="testSuite.FundsTest"/>
        </classes>
    </test>
    <test name="Public Investment Test">
        <classes>
            <class name="testSuite.PublicInvestmentTest"/>
        </classes>
    </test>
    <test name="Private Investment Test">
        <classes>
            <class name="testSuite.PrivateInvestmentTest"/>
        </classes>
    </test>
    <test name="SPVs Investment Test">
        <classes>
            <class name="testSuite.SPVsInvestmentTest"/>
        </classes>
    </test>

    <!-- Transactions Page Test -->
    <test name="Public Transactions Test">
        <classes>
            <class name="testSuite.PublicTransactionTest"/>
        </classes>
    </test>
    <test name="Private Transactions Test">
        <classes>
            <class name="testSuite.PrivateTransactionTest"/>
        </classes>
    </test>

    <!-- Cash Account Page Test -->
    <test name="Cash Account Page Test">
        <classes>
            <class name="testSuite.CashAccountTest"/>
        </classes>
    </test>

    <!-- Benchmark Page Test -->
    <test name="Benchmark Page Test">
        <classes>
            <class name="testSuite.BenchMarkTest"/>
        </classes>
    </test>

    <!-- Chart of Account Page Test -->
    <test name="Chart of Account Page Test">
        <classes>
            <class name="testSuite.ChartOfAccountTest"/>
        </classes>
    </test>

    <!-- Fees pages Test -->
    <test name="Fees Page Test">
        <classes>
            <class name="testSuite.FeesTest"/>
        </classes>
    </test>


    <!-- Document pages Test -->
    <test name="Document Page Test">
        <classes>
            <class name="testSuite.DocumentTest"/>
        </classes>
    </test>

    <test name="Dashboard Page Test">
        <classes>
            <class name="testSuite.DashBoardTest"/>
        </classes>
    </test>
    <test name="Investor report Page Test">
        <classes>
            <class name="testSuite.InvestorReportTest"/>
        </classes>
    </test>

    <test name="Portal User Page Test">
        <classes>
            <class name="testSuite.PortalUserTest"/>
        </classes>
    </test>

    <test name="Deal pipe line pages">
        <classes>
            <class name="testSuite.DealPipeLineTest"/>
        </classes>
    </test>
    <!-- Commitment Page Test -->
    <test name="Commitment Page Test">
        <classes>
            <class name="testSuite.CommitmentTest"/>
        </classes>
    </test>
    <!-- CRM Page Test -->
    <test name="CRM Page Test">
        <classes>
            <class name="testSuite.CRMTest"/>
        </classes>
    </test>

    <test name="Work flow Test">
        <classes>
            <class name="testSuite.WorkFlowsTest"/>
        </classes>
    </test>
    <test name="Capital call">
        <classes>
            <class name="testSuite.CapitalCallTest"/>
        </classes>
    </test>
    <test name="Financial transaction">
        <classes>
            <class name="testSuite.FinanceTransactionsTest"/>
        </classes>
    </test>
    <test name="Notification ">
        <classes>
            <class name="testSuite.NotificationTest"/>
        </classes>
    </test>

</suite>